button {
    margin: 20px;
    cursor: pointer;
    border: 0;
    padding: 8px 16px;
    border-radius: 10px;
    background:#10B981;
    color: #FFFFFF;
    
    font-size: 20px
}

#password-el {
    
    width: 100px;
    height: 15px;
    padding: 10px;
    
    font-size: 10pxpx;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #273549;
    color: #55F991;
    border-radius: 10px;
    margin-top: 20px;
    

}
#line{
    border-top: 1px solid #2F3E53;
    margin-right: 30px;
    margin-left: 30px;

}





body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: black;
    
    

}

h1{
    font-weight: bolder;
    color: white;
    margin-top: 50px;
    
}
h2{
    margin-top: -20px;
    font-weight: bolder;
    color: #4ADF86;
}

h3{
color: #D5D4D8;
}



#main-div{

border: 2px solid white;
border-radius: 10px;
width: 400px;
height: 400px;
margin-left: auto;
margin-right: auto;
display: block;
background: #1F2937;
margin-top: 50px;
}